{% block title %}Edit Game{% endblock %}

{% block body %}
    <h1>Edit Game</h1>
    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.releasedate) }}
    {{ form_row(form.publisher) }}
    {{ form_row(form.genre) }}
    {{ form_row(form.price) }}
    <button class="btn btn-primary">Save changes</button>
    {{ form_end(form) }}
{% endblock %}
