<h1>Game Management</h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Release date</th>
        <th>Publisher</th>
        <th>Genre</th>
        <th>Price (in euros)</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for game in games %}
        <tr>
            <td>{{ game.title }}</td>
            <td>{{ game.releasedate|date('Y-m-d') }}</td>
            <td>{{ game.publisher }}</td>
            <td>{{ game.genre }}</td>
            <td>{{ game.price }}</td>
            <td>
                <a href="{{ path('game_edit', {'id': game.id}) }}">Edit game</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<a href="{{ path('add_game') }}">Add game</a>
<br><br>
<a href="{{ path('admin_dashboard') }}">Back to dashboard</a>
